/*IMPORTS FONTS - START*/
@import url("../fonts/gotham/stylesheet.css");
@import url("../fonts/worksans/stylesheet.css");
/*IMPORTS FONTS - ENDED*/

*,
*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: auto;
}

::-webkit-scrollbar-track {
    background-color: #00BD92;
}

::-webkit-scrollbar-thumb {
    background-color: #054241;
    border-left: 1px solid #00BD92;
    border-right: 1px solid #00BD92;
}

::-webkit-scrollbar-button {
    background-color: #054241;
    border: 1px solid #00BD92;
}

::-webkit-scrollbar-corner {
    background-color: #333333;
}

*::-webkit-media-controls-panel {
    display: none !important;
    -webkit-appearance: none;
}

*::-webkit-media-controls-play-button {
    display: none !important;
    -webkit-appearance: none;
}

*::-webkit-media-controls-start-playback-button {
    display: none !important;
    -webkit-appearance: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Gotham";
    background-color: #001F1F;
    overflow-x: hidden;
}

#partners_carousel_i {
    .owl-stage {
        .owl-item {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center center;
            }
        }
    }
}

#partners_carousel_ii {
    padding: 0px 64px;

    .owl-stage {
        .owl-item {
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                object-position: center center;
            }
        }
    }
}

.full-height {
    height: 100% !important;
}

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;

    &__bg {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url("../content/video/storm_waves_fix.png");
        overflow: hidden;
        z-index: -1;
    }

    &__bg-video {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__bg-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: url("../content/img/angular_overlay.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-blend-mode: multiply;
        mix-blend-mode: multiply;
        z-index: 1;
    }

    &__main-content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__main-ship {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: auto;
        z-index: -1;
    }

    &__main-ship-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: rotate(225deg);
        filter: drop-shadow(16px 24px 16px rgba(0, 0, 0, 64));
        animation: rocking 3072ms linear infinite alternate;
    }

    @keyframes rocking {
        0% {
            transform: rotate(224deg) skew(-1deg, -1deg);
        }

        50% {
            transform: rotate(225deg) skew(0deg, 0deg);
        }

        100% {
            transform: rotate(226deg) skew(1deg, 1deg);
        }
    }

    &__main-text-block {
        width: 100%;

        &--title {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }

        &--description {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
        }
    }

    &__main-text-title {
        font-family: "Gotham";
        font-size: 82px;
        text-transform: uppercase;
        line-height: 82px;
        letter-spacing: -4px;
        color: #FFFFFF;

        &:first-of-type {
            color: transparent;
            -webkit-text-stroke: 4px #00BD92;
        }
    }

    &__main-text-description {
        max-width: 480px;
        font-family: "Gotham";
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        color: #FFFFFF;
    }

    &__main-btn-link {
        background-color: #00BD92;
        border: none;
        border-radius: 24px;
        outline: none;
        text-decoration: none;
        font-family: inherit;
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
        padding: 12px 18px;
        margin-top: 8px;
        transition: background-color 128ms linear;

        &:hover {
            background-color: darken($color: #00BD92, $amount: 8);
        }
    }

    &__main-btn-icon {
        transform: rotate(45deg);
        font-size: 14px;
    }

    &__about {
        width: 100%;
    }

    &__global {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        z-index: 1;
    }

    &__about-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }

    &__about-text {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__about-title {
        font-family: "Gotham";
        font-size: 64px;
        font-weight: 800;
        text-transform: uppercase;
        color: #FFFFFF;

        &:nth-of-type(odd) {
            color: #00BD92;
        }

        &:nth-of-type(even) {
            color: #FFFFFF;
        }
    }

    &__about-img-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    &__about-img-block {
        position: relative;
        width: 400px;
        height: 512px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &::before {
            content: "";
            position: absolute;
            bottom: -48px;
            right: -48px;
            width: 100%;
            height: 256px;
            background-color: #00BD92;
            border-radius: 32px;
            z-index: -1;
        }
    }

    &__about-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 32px;
    }

    &__about-img-text {
        position: absolute;
        bottom: -24px;
        left: -192px;
        max-width: 384px;
        background-color: #FFFFFF;
        border-radius: 32px;
        box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.16);
        padding: 24px 48px;
    }

    &__about-img-description {
        font-family: "Gotham";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
    }
}

.navbar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0px;

    &__menu {
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.70);
        backdrop-filter: blur(6px);
        z-index: 128;
        display: none;
    }

    &__menu-icon {
        font-size: 32px;
        color: #FFFFFF;
        transition: color 128ms linear;
    }

    &__menu-close {
        position: absolute;
        top: 16px;
        right: 16px;
        background-color: transparent;
        border: none;
        outline: none;
        color: #FFFFFF;
        padding: 12px 24px;
        cursor: pointer;

        &:hover>.navbar__menu-icon {
            color: #00BD92;
        }
    }

    &__list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    &__item {
        display: flex;

        &:not(:last-of-type) {
            margin-bottom: 24px;
        }
    }

    &__link {
        position: relative;
        font-family: "Gotham";
        font-size: 24px;
        text-decoration: none;
        text-transform: uppercase;
        color: #00BD92;
        padding: 6px 12px;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 2px;
            height: 0%;
            background-color: #00BD92;
            border-radius: 8px;
            transition: height 256ms linear;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 2px;
            height: 0%;
            background-color: #00BD92;
            border-radius: 8px;
            transition: height 256ms linear;
            z-index: -1;
        }

        &:hover::before,
        &:hover::after {
            height: 100%;
        }
    }

    &__logo {
        width: 160px;
        height: auto;
    }

    &__logo-link {
        text-decoration: none;
    }

    &__logo-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__btn {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    &__btn-menu {
        position: relative;
        background-color: transparent;
        border: none;
        border-radius: 24px;
        outline: none;
        font-family: inherit;
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
        padding: 12px 18px;
        margin-right: 16px;
        cursor: pointer;
        overflow: hidden;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 0%;
            height: 100%;
            background-color: darken($color: #00BD92, $amount: 8);
            transition: width 256ms linear, background-color 128ms linear;
            z-index: -1;
        }

        &:hover::before {
            width: 100%;
        }
    }

    &__btn-menu-icon {
        font-size: 14px;
        margin-right: 4px;
    }

    &__btn-auth {
        background-color: #00BD92;
        border: none;
        border-radius: 24px;
        outline: none;
        text-decoration: none;
        font-family: inherit;
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
        padding: 12px 18px;
        transition: background-color 128ms linear;

        &:hover {
            background-color: darken($color: #00BD92, $amount: 8);
        }
    }

    &__btn-auth-icon {
        transform: rotate(45deg);
        font-size: 14px;
    }
}

.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.section {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 64px 0px;

    &__overlay-start {
        position: absolute;
        top: -784px;
        left: -1024px;
        width: 1792px;
        height: 1792px;
        background-image: radial-gradient(circle, rgba(0, 189, 146, 0.32) 0%, rgba(0, 159, 124, 0.16) 45%, rgba(0, 31, 31, 0) 64%);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: -1;
    }

    &__overlay-end {
        position: absolute;
        top: -512px;
        left: 512px;
        width: 1792px;
        height: 1792px;
        background-image: radial-gradient(circle, rgba(0, 189, 146, 0.32) 0%, rgba(0, 159, 124, 0.16) 45%, rgba(0, 31, 31, 0) 64%);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: -1;

        &--services {
            top: -768px;
        }
    }

    &__title {
        font-family: "Gotham";
        font-size: 64px;
        font-weight: 800;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 32px;

    }
}

.section-white {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    padding: 64px 0px;

    &__title {
        font-family: "Gotham";
        font-size: 64px;
        font-weight: 600;
        text-transform: uppercase;
        color: #001F1F;
        margin-bottom: 48px;
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__block {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &:not(:last-of-type) {
            margin-bottom: 64px;
        }
    }

    &__block-text {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__title {
        font-family: "Gotham";
        font-size: 48px;
        font-weight: 900;
        text-transform: uppercase;
        color: #00BD92;
        margin-bottom: 32px;
    }

    &__description {
        font-family: "Gotham";
        font-size: 15px;
        font-weight: 300;
        line-height: 26px;
        color: #FFFFFF;
    }

    &__block-img {
        width: 100%;
        height: 222px;
        overflow: hidden;
    }

    &__img {
        width: 100%;
        height: 100%;
        border-radius: 50px;
        object-fit: cover;
        object-position: center 0%;
    }
}

.services {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;

    &__block {
        width: 100%;
        height: 333px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: #F1F5F9;
        border-radius: 32px;
        padding: 32px;
        transition: background-color 128ms linear;

        &:hover {
            background-color: #00BD92;
        }

        &:hover .services__title {
            color: #FFFFFF;
        }

        &:hover .services__link {
            color: #F2F2F2;
        }
    }

    &__title {
        font-family: "Gotham";
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 32px;
        transition: color 128ms linear;
    }

    &__link {
        font-size: 14px;
        text-decoration: none;
        text-transform: capitalize;
        color: #00BD92;
        transition: color 128ms linear;
    }

    &__link-icon {
        transform: rotate(45deg);
        margin-left: 8px;
    }

    &__block--selected {
        background-color: #00BD92;

        &>.services__title {
            color: #FFFFFF;
        }

        &>.services__link {
            color: #F2F2F2;
        }
    }
}

.about-us {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #054241;
    border-radius: 32px;
    padding: 64px 64px 256px 64px;
    margin-bottom: 333px;

    &__absolute {
        position: absolute;
        bottom: -192px;
        left: 0px;
        width: 100%;
        height: 384px;
        padding: 0px 64px;
    }

    &__absolute-img {
        width: 100%;
        height: 100%;
        border-radius: 32px;
        filter: brightness(0.88);
        object-fit: cover;
        object-position: center center;
    }

    &__block-text {
        width: 100%;
        max-width: 768px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__category {
        font-family: "Work Sans";
        font-size: 14px;
        font-weight: 400;
        text-transform: capitalize;
        color: #00BD92;
        margin-bottom: 22px;
    }

    &__title-brand {
        font-family: "Gotham";
        font-size: 64px;
        font-weight: 900;
        text-transform: uppercase;
        word-spacing: -6px;
        color: #00BD92;
    }

    &__title {
        font-family: "Gotham";
        font-size: 64px;
        font-weight: 900;
        text-transform: uppercase;
        word-spacing: -6px;
        color: #FFFFFF;
    }

    &__description {
        font-family: "Gotham";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #969696;
        margin: 32px 0px;
        padding-right: 128px;
    }

    &__logo {
        position: absolute;
        top: 64px;
        right: 64px;
        width: 256px;
        height: auto;
        filter: blur(3px);
    }

    &__logo-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }

    &__stats-block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__stats {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &:not(:last-of-type) {
            margin-right: 64px;
        }
    }

    &__stats-num {
        font-family: "Gotham";
        font-size: 64px;
        font-weight: 900;
        color: #FFFFFF;
        margin-bottom: 8px;
    }

    &__stats-title {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 400;
        color: #00BD92;
    }
}

.about-services {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &:not(:last-of-type) {
            margin-bottom: 32px;
        }
    }

    &__icon {
        width: 40px;
        height: 40px;
        margin-right: 48px;
    }

    &__icon-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }

    &__text {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__title {
        font-family: "Gotham";
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}


.about-description {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #054241;
    border-radius: 32px;
    padding: 64px 100px;
    overflow: hidden;

    &__text-block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__text {
        font-family: "Gotham";
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        color: #FFFFFF;
    }

    &__img-block {
        position: absolute;
        top: 50%;
        right: -128px;
        width: auto;
        height: 80%;
        transform: translateY(-50%);
        filter: blur(3px) opacity(0.32);
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }
}

.text-separator {
    display: flex;
    margin-bottom: 24px;
}

.certificate {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 64px;
    margin-bottom: 100px;

    &__block {

        &::before {
            content: "";
            position: absolute;
            bottom: -64px;
            left: 0px;
            width: 100%;
            height: 256px;
            background-color: #00BD92;
            border-radius: 32px;
            z-index: -1;
        }
    }

    &__img-block {
        width: 100%;
        height: 100%;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }
}

.section-services {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 128px;

    &__title {
        font-family: "Gotham";
        font-size: 64px;
        font-weight: 600;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 256px;
        margin-bottom: 64px;
    }
}

.services-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: row wrap;

    &__block {
        background-color: #054241;
        border-radius: 32px;
        overflow: hidden;

        &--selected {
            background-color: #00BD92;
        }
    }

    &__header {
        position: relative;
        width: 100%;
        height: 128px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    &__img-overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(0deg, rgba(0, 189, 146, 0.88) 0%, rgba(0, 159, 124, 0.20) 100%);
        opacity: 0.64;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: #000000;
            opacity: 0.32;
        }
    }

    &__body {
        min-height: 256px;
        padding: 32px;
    }

    &__title {
        font-family: "Gotham";
        font-size: 24px;
        font-weight: 800;
        text-transform: uppercase;
        color: #F2F2F2;
        margin-bottom: 16px;
    }

    &__description {
        font-family: "Work Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;
        color: #F2F2F2;
    }
}

.footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__body {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: flex-end;
        padding: 100px 0px;
    }

    &__about {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-right: 32px;
    }

    &__about-img-block {
        width: 200px;
        height: auto;
        margin-bottom: 24px;
    }

    &__about-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }

    &__about-text-block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__about-text {
        font-family: "Gotham";
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        color: #FFFFFF;
    }

    &__navigation {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__social {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
    }

    &__nav {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__contact {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 32px;
    }

    &__footer {
        width: 100%;
        height: auto;
        background-color: #00BD92;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px;
    }

    &__footer-copyright {
        font-family: "Work Sans";
        font-size: 14px;
        font-weight: 400;
        color: #FFFFFF;
    }
}

.social {

    &__link {
        width: 32px;
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        text-decoration: none;
        border: 1px solid #FFFFFF;
        border-radius: 50%;
        color: #FFFFFF;
        transition: color 128ms linear, border 128ms linear;

        &:not(:last-of-type) {
            margin-right: 16px;
        }

        &:hover {
            color: #00BD92;
            border: 1px solid #00BD92;
        }
    }
}

.nav {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__list {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
    }

    &__item {
        display: flex;

        &:not(:last-of-type) {
            margin-right: 24px;
        }
    }

    &__link {
        font-family: "Gotham";
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: #FFFFFF;
        transition: color 128ms linear;

        &--active {
            color: #00BD92;
        }

        &:hover {
            color: #00BD92;
        }
    }
}

.contact {

    &__block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        &:not(:last-of-type) {
            margin-bottom: 24px;
        }
    }

    &__block-text {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__link {
        font-family: "Work Sans";
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        color: #FFFFFF;
        transition: color 128ms linear;

        &:not(:last-of-type) {
            margin-bottom: 8px;
        }

        &:hover {
            color: #00BD92;
        }
    }

    &__icon {
        font-size: 18px;
        color: #FFFFFF;
        margin-right: 16px;
    }
}

.news {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &__block {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        border-top: 1px solid #F3F0F0;
        padding: 32px 64px;

        &:last-of-type {
            border-bottom: 1px solid #F3F0F0;
        }
    }

    &__block--detail {
        border: none;
        padding: 0px;

        &:last-of-type {
            border-bottom: none;
        }
    }

    &__img-block {
        width: 444px;
        height: auto;
        background-color: #FFFFFF;
        border-radius: 32px;
        padding: 48px;
        margin-right: 48px;
    }

    &__img-block--detail {
        width: 800px;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    &__content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    &__title {
        font-family: "Gotham";
        font-size: 28px;
        font-weight: 600;
        color: #FFFFFF;
        margin-bottom: 24px;
    }

    &__description {
        font-family: "Work Sans";
        font-size: 16px;
        font-weight: 300;
        line-height: 24px;
        color: #969696;
        margin-bottom: 24px;
    }

    &__read-more {
        font-family: "Work Sans";
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        border-bottom: 1px solid rgba(0, 189, 146, 0.32);
        color: #00BD92;
        padding-bottom: 4px;
        transition: color 128ms linear, border 128ms linear;

        &:hover {
            color: #F3F0F0;
            border-bottom: 1px solid #F3F0F0;
        }
    }

    &__read-more--detail {
        margin-bottom: 16px;
    }

    &__read-more-icon {
        transform: rotate(45deg);
        margin-left: 4px;
    }

    &__link {
        background-color: #00BD92;
        border-radius: 32px;
        font-family: "Gotham";
        font-size: 16px;
        text-decoration: none;
        color: #FFFFFF;
        padding: 12px 32px;
        margin-top: 100px;
        margin-bottom: 32px;
        transition: background-color 128ms linear;

        &:hover {
            background-color: darken($color: #00BD92, $amount: 8);
        }
    }

    &__link-icon {
        transform: rotate(45deg);
        margin-left: 4px;
    }
}

@media screen and (max-width: 1200px) {
    .header__main-text-title {
        font-size: 64px;
        line-height: 64px;
    }

    .header__main-text-description {
        max-width: 333px;
    }

    .about-us__title-brand {
        font-size: 48px;
    }

    .about-us__title {
        font-size: 48px;
    }

    .about-us__stats-num {
        font-size: 48px;
    }

    .about-us__stats-title {
        font-size: 16px;
    }

    .about-us__logo {
        width: 200px;
    }
}

@media screen and (max-width: 992px) {
    .header__main-text-block--description {
        align-items: flex-start;
    }

    .header__main-ship {
        left: 70%;
        width: 256px;
    }

    .header__main-ship-img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transform: rotate(190deg);
        filter: drop-shadow(16px 24px 16px rgba(0, 0, 0, 64));
        animation: rocking 3072ms linear infinite alternate;
    }

    @keyframes rocking {
        0% {
            transform: rotate(189deg) skew(-1deg, -1deg);
        }

        50% {
            transform: rotate(190deg) skew(0deg, 0deg);
        }

        100% {
            transform: rotate(191deg) skew(1deg, 1deg);
        }
    }

    .header__main-btn-link {
        margin-top: 16px;
    }

    .header__main-text-block--title {
        margin-bottom: 32px;
    }

    .about__title {
        font-size: 32px;
    }

    .about__description {
        font-size: 12px;
    }

    .section__title {
        font-size: 48px;
    }

    .section-white__title {
        font-size: 48px;
    }

    .section-services__title {
        font-size: 48px;
    }

    .about-us__title-brand {
        font-size: 32px;
    }

    .about-us__title {
        font-size: 32px;
    }

    .about-us__logo {
        display: none;
    }

    .about-us__stats-num {
        font-size: 32px;
    }

    .news__block {
        flex-direction: column;
    }

    .news__img-block {
        width: 100%;
        margin: 0;
        margin-bottom: 48px;
    }

    .footer__body {
        flex-direction: column;
    }

    .footer__about {
        margin-bottom: 64px;
    }

    .footer__navigation {
        margin-bottom: 64px;
    }

    .footer__contact {
        margin-bottom: 0px;
    }

    .footer__social {
        justify-content: flex-start;
    }

    .nav__list {
        justify-content: flex-start;
    }

    .footer__about {
        padding: 0px;
    }

    .footer__contact {
        padding: 0px;
    }

    .header__about-title {
        font-size: 48px;
    }

    .header__about-content {
        flex-direction: column-reverse;
    }

    .header__about-img-container {
        margin-bottom: 128px;
    }

    .header__about-text {
        align-items: center;
    }

    .header__about-img-text {
        left: 0px;
        max-width: 100%;
    }

    .header__about-img-block:before {
        display: none;
    }

    .about-description__img-block {
        display: none;
    }

    .about-description {
        padding: 64px;
    }

    .certificate__block:before {
        height: 150px;
    }
}

@media screen and (max-width: 768px) {

    .section__overlay-start {
        display: none;
    }

    .section__overlay-end {
        display: none;
    }

    .section__overlay-end--services {
        display: none;
    }

    .about-services__title {
        font-size: 18px;
    }

    .certificate__img-block {
        margin-bottom: 32px;
    }

    .certificate__block:before {
        display: none;
    }

    .header__main-text-title {
        font-size: 50px;
        line-height: 50px;
    }

    .header__main-ship {
        left: 80%;
    }

    .about-us__stats-block {
        flex-direction: column;
    }

    .about-us__stats {
        margin: 0px;
        margin-bottom: 32px;
    }

    .about-us__description {
        padding: 0;
    }

    .about-us__absolute {
        display: none;
    }

    .about-us {
        padding: 64px;
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 576px) {
    .navbar__btn-menu:before {
        width: 100%;
    }

    .about-services__block {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .about-services__icon {
        margin: 0px;
        margin-bottom: 16px;
    }

    .header__about-title {
        font-size: 32px;
    }

    .header__about-img-text {
        padding: 24px;
    }

    .about-description {
        padding: 32px;
    }

    .header__bg-video {
        display: none;
    }

    .header__main-ship {
        display: none;
    }

    .navbar {
        flex-direction: column;
    }

    .navbar__logo {
        margin-bottom: 32px;
    }

    .about-us {
        padding: 32px;
    }

    .about-us__title-brand {
        font-size: 24px;
    }

    .about-us__title {
        font-size: 24px;
    }

    .section-services__title {
        font-size: 32px;
    }

    .section-white__title {
        font-size: 32px;
    }

    .section__title {
        font-size: 32px;
    }

    .nav__list {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .nav__item {
        &:not(:last-of-type) {
            margin: 0px;
            margin-bottom: 16px;
        }
    }

    .news__block {
        padding: 32px 0px;
    }

    .services__block {
        padding: 16px;
    }
}